/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-Jul-2017, 17:16:13
    Author     : AnthonyQuinn
*/
div.fixed {
    position: fixed;
    bottom: 1;
    right: 0;
   
}

